.navbar-area2 {
  background-image: url(./img/plane-bg.svg);
  background-size: contain;
  background-repeat: no-repeat;
  height: 375px;
}
.truck-boy-img {
  position: relative;
  padding: 5rem;
}
.deliveryboy {
  position: absolute;
  top: 23rem;
  left: 36rem;
  border: 15px solid white;
}
.p-5 {
  padding: 5rem;
}
.buttons button {
  padding: 10px 20px;

  font-family: "Krub";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  border: none;
}
.yellow-button {
  background: #ffb82b;
}
.transperant-button {
  background: #f4f4f4;
}
.blue-button {
  background: #091242;
  padding: 10px 20px;
  font-family: "Krub";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  border: none;
  color: #fff;
}
.grey-container {
  background: #f4f4f4;
}
.services-grp {
  padding: 0 100px;
  gap: 2rem;
}
.pic-collection {
  padding: 0 100px;
}
.designation {
  position: relative;
}
.img-text {
  background-color: #091242;
  color: white;
  padding: 20px 10px;
  /* width: 100%; */
  padding-left: 2rem;
}
.img-sub-head {
  margin-bottom: 0;
}
.social-icons {
  background: linear-gradient(
    94.06deg,
    #ffb629 -1.21%,
    #ffda56 58.66%,
    #ffd7a6 116.84%
  );
  position: absolute;
  top: 25rem;
  left: 269px;
  padding: 13px 20px;
}

.customer {
  background: #f4f4f4;
  padding: 0 100px;
}
.blueContainer {
  background-color: #091242;
  color: white;
}
.heading {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #1c1f35;
}
.price {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 65px;
  line-height: 101px;
  text-align: center;
  color: #1c1f35;
}
.smallHead {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  color: #1c1f35;
}
.firstContainer {
  background: #f4f4f4;
  padding: 50px 50px;
}
.plan {
  background-color: #1c1f35;
  padding: 10px;
  border: none;
  color: white;
}
.names {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #091242;
}
.secondContainer {
  background-color: #1c1f35;
  padding: 50px 50px;
}
.accordionContent {
  gap: 2rem;
}
.smallContainer {
  background-color: #1c1f35;
  color: white;
}
.deliveryTruck {
  position: relative;
}
.deliveryBoy {
  position: absolute;
  top: 10rem;
  left: 20rem;
  border: 20px solid white;
}
.queries {
  font-family: "Krub";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 135.02%;
  color: #ffffff;
}
.subHeadWithYellowMargin {
  border-left: 5px solid #ffe472;
  background: #2d3a7b;
  max-width: fit-content;
}
.drive img {
  width: 1000px;
  height: 667px;
}
.yellow-button {
  padding: 10px;
  border: none;
}
.driverContainer {
  position: relative;
  width: 448px;
}
.drive img {
  height: 539px;
  width: 682px;
}
.smallContainer {
  position: absolute;
  top: 5rem;
  left: -8rem;
  padding: 50px;
  width: 448px;
}
.tables {
  border: 2px solid #d5d5d5;
}
.questions {
  background: #f4f4f4;
}
#main {
  margin: 50px 0;
}

#main #faq .card {
  margin-bottom: 30px;
  border: 0;
}

#main #faq .card .card-header {
  border: 0;
  -webkit-box-shadow: 0 0 20px 0 rgba(213, 213, 213, 0.5);
  box-shadow: 0 0 20px 0 rgba(213, 213, 213, 0.5);
  border-radius: 2px;
  padding: 0;
}

#main #faq .card .card-header .btn-header-link {
  color: #fff;
  display: block;
  text-align: left;
  background: #f4f4f4;
  color: #222;
  padding: 20px;
}

#main #faq .card .card-header .btn-header-link:after {
  content: "\f107";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  float: right;
}

#main #faq .card .card-header .btn-header-link.collapsed {
  background: #f4f4f4;
  color: black;
}

#main #faq .card .card-header .btn-header-link.collapsed:after {
  content: "\f106";
}

#main #faq .card .collapsing {
  background: #f4f4f4;
  line-height: 30px;
}

#main #faq .card .collapse {
  border: 0;
}

#main #faq .card .collapse.show {
  background: #f4f4f4;
  line-height: 30px;
  color: #222;
}
.query {
  padding-right: 160px;
}
.moreButton {
  padding: 10px;
  border: none;
  background-color: #091242;
  color: white;
}
.accodianWorkPage {
  background: #f4f4f4;
}
.card-body {
  font-family: "Krub";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 151.52%;
  color: #666c89;
}
