.navbar-area16 {
    background-image: url(./img/zoomedplane.svg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 375px;
  }
  .passwordSection {
    background: #1c1f35;
    margin: 0 auto;
  }