.navbar-area16 {
  background-image: url(./img/zoomedplane.svg);
  background-size: contain;
  background-repeat: no-repeat;
  height: 375px;
}
.passwordSection {
  background: #1c1f35;
  margin: 0 auto;
  height: 300px;
}
.passwords {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 116%;
  text-align: center;

  color: #ffffff;
}
.enter {
  font-family: "League Spartan";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 18px;
  color: #999999;
  border: 1px solid #4e5683;
  width: max-content;
  padding: 10px 20px;
}
.yellow-buttons {
  padding: 5px 20px;
  background: linear-gradient(
    94.06deg,
    #ffb629 -1.21%,
    #ffda56 58.66%,
    #ffd7a6 116.84%
  );
  border: none;
}
